:root {
    --color-1: #f4f6fb;
    --color-2: #4364b1;
    --color-3: #ffffff;
    --accent: #3c5a9f;
    --hover-color: #31487d;
    --text-color-1: #010204;
    --text-color-2: #ffffff;
    --border-color: #0f182e;
    --nav-bar: #4364b133;
}