
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}

h1{
    font-size: 12pt;
}

h2 {
    /*width: 100%;*/
    /*display: inline;*/
    font-size: 20pt;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
}

h3{
    font-size: 16pt;
    margin-top: 0;
    margin-bottom: 5px;
}

.plain{
    display: block;
    margin:15px 15px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-1);
    margin: 0;
    color: var(--text-color);
}

a{
    text-decoration: underline;
    color: var(--color-3);
}

#upload-png-message{
    text-align: center;
}

header{
    display: flex;
    border-bottom: 2px solid var(--border-color);
    overflow: hidden;
    padding: 5px;
}

.top_right{
    position: absolute;
    padding: 15px;
    margin-right: 15px;
    right: 15px;
    vertical-align: top;
}

button,
input[type=submit]{
    display:inline;
    text-align: center;
    border: 2px solid var(--border-color);
    margin: 5px;
    font-size: 14pt;
    color: var(--text-color);
    background-color: var(--color-2);
    transition: color 0.3s ease;
}

.purchase_button:hover {
    background-color: var(--hover-color);
}

.purchase_button{
    width: -webkit-fill-available;
    margin: 0;
}

footer{
    margin-top: 10px;
    width: 100%;
    border-top: 2px solid var(--border-color);
    background-color: var(--color-1);
}

.foot_link{
    padding-left: 5px;
    padding-right: 20px;
}

#logo {
    font-size: 32pt;
    padding: 15px;
}

#pain {
    display: flex;
    justify-content: space-between;
}

leftpane{
    width: 30%;
    position: relative;    
}

leftpane table {
    margin-left: 10px;
}

middlepane{
    width: 40%;
    position: relative;
    align-items: center;
}

rightpane{
    width: 30%;
    position: relative;
}

table, th, td{
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    position: relative;
}

th{
    padding: 5px;
}

table{
    padding: 5px;
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#clicker{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pane-title {
    text-align: center;
    margin-top: 10px;
}

#login-central-block {
    position: fixed;
    top: 35%;
    left: 40%;
    text-align: center;
}

#login-title{
    margin: 10px;
}

#login_form{
    margin: 0;
    padding: 5px;
}

#input-box{
    padding: 5px;
}

#login-signup-prompt{
    position: fixed;
    left: 10px;
    bottom: 55px;
}

#login-socials-block{
    position: relative;
    top: 25px;
    text-align: center;
}

.socials-logo{
    width: 40px;
    padding: 20px;
    padding-left:15px;
    padding-right:15px;
}

.margin15{
    margin: 15px 15px;
}

.upload-png{
    margin:0;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
}

#icon{
    bottom: 0%;
    margin: 15px;
    width:300px;
    border: 1px solid var(--border-color);
    border-radius: 5%;
    padding: 5px;
}

.right-centre{
    text-align: center;
}

#achievement-table-wrapper {
    position:relative;
    margin: 10px;
}

#achievement-table-scroll {
    height:200px;
    overflow:auto;  
}

#achievement-table-wrapper table {
    position: relative;
    margin: 0;
    width: auto;
    border:2px solid var(--border-color);
}

#achievement-table-wrapper th{
    z-index: 2;
    padding: 5px;
    border:2px solid var(--border-color);
    background-color: var(--color-1);
    position:sticky;  
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}