
/* Document Wide */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

a:visited {
    color: var(--accent);
}

/* Header */

.header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;

    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--navbar);
    /* border-bottom: 2px solid var(--border-color); */
}

.logo {
    font-size: 32pt;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo a:visited {
    color: var(--text);
}

.logo a img {
    height: 2em;
}

.header .spacer {
    flex: 5;
}

.header-link a {
    display: block;
    box-sizing: border-box;
    padding: 2em 1em;
    height: 10vh;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: var(--text);
}

.header-link a:hover {
    background-color: var(--accent);
    color: var(--background);
}

/* Default Pane Behaviour */

.leftpane {
    order: 1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middlepane {
    order: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightpane {
    order: 3;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pane-title {
    order: 0;
    padding: 0.5em 0;
    font-weight: bold;
    font-size: 1.5em;
}

::-webkit-scrollbar {
    width: 10px;
    /* height: 15px; */
}

::-webkit-scrollbar-track {
    background: var(--secondary);
}

::-webkit-scrollbar-thumb {
    background: var(--navbar);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-scrollbar-corner {
    background: var(--secondary);
}

/* Game Page */

.body-container {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    background-color: var(--navbar);
}

.body-container .leftpane {
    background-color: var(--background);
    border-top-right-radius: 20px;
    max-width: 35vw;
    padding: 10px;
}

.body-container .middlepane {
    max-width: 35vw;
    padding: 10px;
}

.body-container .rightpane {
    background-color: var(--background);
    border-top-left-radius: 20px;
    text-align: center;
    max-width: 30vw;
    padding: 10px;
}

.body-container .spacer {
    flex: 5;
}

.clicker-container {
    overflow-y: hidden;
}

#clicker {
    max-height: 100%;
    max-width: 100%;
}

/* Shop */

.shop {
    order: 1;
    height: 85vh;
    width: 100%;
    background-color: var(--background);
    color: var(--text);
    overflow-y: scroll;
}

.shop-item {
    padding: 5px;
    margin: 5px;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 45% 10% 45%;
    grid-template-rows: auto;
    grid-template-areas:
        "name num effect"
        "name num price";
}

.shop-item:hover {
    background-color: var(--accent);
    color: var(--background);
    font-weight: bold;
}

.shop-item-name {
    grid-area: name;
    justify-self: start;
    align-self: center;
}

.shop-item-numpurchased {
    grid-area: num;
    justify-self: start;
    align-self: center;
}

.shop-item-effect {
    grid-area: effect;
    justify-self: end;
    align-self: center;
    text-align: end;
}

.shop-item-price {
    grid-area: price;
    justify-self: end;
    align-self: center;
    text-align: end;
}

/* Leaderboard */

.leaderboard {
    order: 1;
    width: 100%;
    background-color: var(--background);
    color: var(--text);
}

.leaderboard table, .leaderboard th, .leaderboard td {
    width: 100%;
    border: 1px solid var(--text);
    border-collapse: collapse;
}

.leaderboard tbody {
    display: block;
    overflow-y: scroll;
}

.leaderboard th {
    position: sticky;
}

.rightpane .stats {
    order: 2;
}

.rightpane .spacer {
    order: 3;
}

.change-png-message {
    order: 4;
}

/* table, th, td{
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    position: relative;
}

th{
    padding: 5px;
}

table{
    padding: 5px;
    width: 95%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}*/


/*.pane-title {
    text-align: center;
    margin-top: 10px;
}

button,
input[type=submit]{
    display:inline;
    text-align: center;
    border: 2px solid var(--border-color);
    margin: 5px;
    font-size: 14pt;
    color: var(--text-color-2);
    background-color: var(--color-2);
    transition: color 0.3s ease;
}

.purchase_button:hover {
    background-color: var(--hover-color);
}

.purchase_button{
    width: -webkit-fill-available;
    margin: 0;
}

#login-central-block {
    position: fixed;
    top: 35%;
    left: 40%;
    text-align: center;
}

#login-title{
    margin: 10px;
}

#login_form{
    margin: 0;
    padding: 5px;
}

#input-box{
    padding: 5px;
}

#login-signup-prompt{
    position: fixed;
    left: 10px;
    bottom: 55px;
}

#login-socials-block{
    position: relative;
    top: 25px;
    text-align: center;
}

.socials-logo{
    width: 40px;
    padding: 20px;
    padding-left:15px;
    padding-right:15px;
}

.margin15{
    margin: 15px 15px;
}

.upload-png{
    margin:0;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border-color);
}

#icon{
    bottom: 0%;
    margin: 15px;
    width:300px;
    border: 1px solid var(--border-color);
    border-radius: 5%;
    padding: 5px;
}

.right-centre{
    text-align: center;
}

#achievement-table-wrapper {
    position:relative;
    margin: 10px;
}

#achievement-table-scroll {
    height:200px;
    overflow:auto;  
}

#achievement-table-wrapper table {
    position: relative;
    margin: 0;
    width: auto;
    border:2px solid var(--border-color);
}

#achievement-table-wrapper th{
    z-index: 2;
    padding: 5px;
    border:2px solid var(--border-color);
    background-color: var(--color-1);
    position:sticky;  
    top: 0; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} */

/* My Account */

.myaccount-body {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "stats image"
        "achievements image";
}

.myaccount-summary-colour {
    background-color: var(--navbar);
}

.myaccount-summary {
    height: 100%;
    padding: 5px;
    box-sizing: border-box;
    grid-area: stats;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    border-top-right-radius: 20px;
}

.myaccount-achievements {
    padding: 5px;
    grid-area: achievements;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.myaccount-image {
    grid-area: image;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: var(--navbar);
    border-bottom-left-radius: 20px;
}

.myaccount-body .pane-title {
    order: 0;
}

/* Top Left */

.myaccount-stats {
    order: 1;
}

.darkmode {
    order: 2;
}

/* Bottom Left */

.achievements-table-scroll {
    height: 100%;
    overflow-y: scroll;
}

.achievements-table-scroll table, th, td {
    border: 1px solid var(--text);
    border-collapse: collapse;
}

.achievements-table-scroll th {
    position: sticky;
}

/* Right */

.image-form {
    padding: 1em 0;
}

.image-preview {
    height: 60%;
    max-width: 90%;
    object-fit: contain;
}

.image-preview img {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid var(--text);
}