<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h2 class="margin15">
        About Clicker.png
    </h2>
    <plain>
        <div class="margin15">
            <div>Clicker.png is a clicker game based on other popular games like cookie clicker. </div>
            <div>Instructions on how to play it are in the tutorial tab.</div>
        </div>
        <div class="margin15">
            <div> This web application was developed as a group project (group 10A) for a Web Application Development course at the University of Glasgow.</div>
            <div>Group members are:
            <ul>
                <li>Thomas McCausland</li>
                <li>Finn Stockwell</li>
                <li>Julia Szuminska</li>
                <li>Hao Xu</li>
                <li>Sufiyyan Panezai</li>
            </ul></div>

        </div>
        <div class="margin15">
            <div> Github repository is available <a href="https://github.com/Hippodoodle/clicker.png" /> here </a> </div>
            <div>The web app was submitted on 6th of April 2021.</div>
        </div>
    </plain>



{% endblock %}
 