<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}" type="text/css">
    {% if user.account.darkmode %}
    <link rel="stylesheet" href="{% static 'dark.css' %}" type="text/css">
    {% else %}
    <link rel="stylesheet" href="{% static 'light.css' %}" type="text/css">
    {% endif %}
    <title>
        Clicker.png -
        {% block title_block %}
        default
        {% endblock %}
    </title>
</head>

<body>
    <header>
        <h1>
            <span><img src="{% static 'images/logo.jpg' %}" width="95" height="71" alt="Logo" /></span>
            <span id="logo">Clicker.png</span>
            <span class="top_right">
                {% block top_right %}
                {% if user.is_authenticated %}

                <h3>Welcome back {{ user }}!</h3>
                <a href="{% url 'clicker_app:myaccount' %}">My Account</a>
                <a href="{% url 'clicker_app:logout' %}">Log out</a>

                {% else %}
                <button>
                    <a href="{% url 'clicker_app:login' %}">Log in</a>
                </button>
                or
                <button>
                    <a href="{% url 'clicker_app:signup' %}">Sign up</a>
                </button>
                {% endif %}
                {% endblock %}
            </span class="top_right">
        </h1>
    </header>

    <container>
        {% block body_block %}
        default block
        {% endblock %}
    </container>

    <footer>
        <h1>
            <span class="foot_link"><a href="{% url 'clicker_app:index' %}">Homepage</a></span>
            <span class="foot_link"><a href="{% url 'clicker_app:about' %}">About</a></span>
            <span class="foot_link"><a href="{% url 'clicker_app:tutorial' %}">Tutorial</a></span>
        </h1>
    </footer>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/clicker-ajax.js' %}" crossorigin="anonymous"></script>

</body>

</html>