<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load static %}

{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<leftpane>
    <h2 class="pane-title">STORE</h2>
    <table>
        <tr>
            <th>Upgrade</th>
            <th>Price</th>
            <th>Purchased</th>
            <th>Effect</th>
            <th>Auto</th>
        </tr>
        {% for key, value in upgrade_table.items %}
        <tr>
            <td><button id="upgrade-{{ key.id }}" class="purchase_button" data-user="{{ user.id }}" data-upgrade="{{ key.id }}" data-csrf="{{ csrf_token }}">{{ key.name }}</button></td>
            {% for item in value %}
            <td id="upgrade-{{ key.id }}-{{ forloop.counter }}" class="upgrade-values">
                {% if forloop.counter == 1 %}
                <script>
                    x = {% for item in purchased_list %}{% if item.upgrade == key %}{{ item.upgrade.cost }}{% endif %}{% endfor %};
                    x = x * Math.pow(1.15, {% for item in purchased_list %}{% if item.upgrade == key %}{{ item.quantity }}{% endif %}{% endfor %});
                    document.getElementById("upgrade-{{ key.id }}-1").innerHTML = Math.floor(x);
                </script>
                {% else %}
                {{ item }}
                {% endif %}
            </td>
            {% endfor %}
            <td>{{ key.effect }}</td>
            <td style="text-align: center;">{% if key.auto_click %}&#10003;{% endif %}</td>
        </tr>
        {% endfor %}
    </table>
</leftpane>
<middlepane>
    <h2 class="pane-title">You have <strong id="points_count">{{ user.account.points }}</strong> pixels!</h2>

    {% if user.is_authenticated %}
    <img src="{{ MEDIA_URL }}{{ user.account.image }}" alt="Clicker image" id="clicker" data-user="{{ user.id }}" data-csrf="{{ csrf_token }}" data-cps="{{ cps }}" data-click-upgraded="{{ upgraded_click }}">
    {% else %}
    <img src="{% static 'images/logo.jpg' %}" alt="Clicker image" id="clicker" data-user="{{ user.id }}" data-csrf="{{ csrf_token }}" data-cps="{{ cps }}" data-click-upgraded="{{ upgraded_click }}">
    {% endif %}

    <div class="plain">
        <p>Total pixels earned: {{ user.account.lifetime_points }}</p>
        <p>Current number of pixels: {{ user.account.points }}</p>
        <p>Pixels per second: {{ cps }}</p>
    </div>
    {% if user.is_authenticated %}
    <p id="upload-png-message">Go to <a href="{% url 'clicker_app:myaccount' %}">My Account</a> to change your clicker png!</p>
    {% else %}
    <p id="upload-png-message"><a href="{% url 'clicker_app:signup' %}">Sign Up</a> to upload your own clicker png!</p>
    {% endif %}
</middlepane>
<rightpane>
    <h2 class="pane-title">LEADERBOARD</h2>
    <table>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
        </tr>
        {% for account in leaderboard %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{ account.user.username }}</td>
            <td>
            {% if account.user == request.user %}<span id="user-counter">{{ account.lifetime_points }}</span>{% else %}{{ account.lifetime_points }}{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% for account in ranking_list %}
        {% if account.user == request.user%}
        <button>Your ranking is: {{forloop.counter}}</button>
        {%endif%}
    {%endfor%}
</rightpane>
<script src="{% static 'js/auto-click.js' %}" crossorigin="anonymous"></script>
{% endblock %}
