<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load static %}
{% load socialaccount %} 

{% block title_block %}
    LogIn
{% endblock %}

{% block body_block %}

<div class="login-container">
    <div class="login-card-background">
        <div class="login-card">
            <form method="post" action="{% url 'clicker_app:login' %}">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username">
                <input type="password" placeholder="Password" name="password">
                <div class="login-buttons">
                    <button class="signup-button" onclick="location.href='{% url 'clicker_app:signup' %}'" type="button">Sign Up</button>
                    <button type="submit" class="login-button">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}