<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load static %}

{% block title_block %}
My Account
{% endblock %}

{% block body_block %}
<div class="myaccount-body">

    <div class="myaccount-summary-colour">
        <div class="myaccount-summary">
            <div class="pane-title">{{user}}</div>

            <div class="myaccount-stats">
                <p>Total pixels earned: {{ user.account.lifetime_points }}</p>
                <p>Current number of pixels: {{ user.account.points }}</p>
                <p>Pixels per second: {{ cps }}</p>
            </div>

            <div class="darkmode">
                <form method="POST" action="/clicker_app/darkmode/">
                    {% csrf_token %}
                    <input type="hidden" name="user-id" value="{{ user.id }}">
                    <input type="submit" value="{% if user.account.darkmode %}Lightmode{% else %}Darkmode{% endif %}">
                </form>
            </div>
        </div>
    </div>

    <div class="myaccount-achievements">
        <div class="pane-title">Achievements</div>

        <div class="achievements-table-scroll">
            <table>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                {% for achievement in all_achievements %}
                <tr>
                    <td>{{ achievement.name }}</td>
                    {% if achievement.current_score_achievement %}
                        {% if user.account.points >= achievement.condition %}
                        <td>{{ achievement.description }}</td>
                        {% else %}
                        <td>???</td>
                        {% endif %}
                    {% else %}
                        {% if user.account.lifetime_points >= achievement.condition %}
                        <td>{{ achievement.description }}</td>
                        {% else %}
                        <td>???</td>
                        {% endif %}
                    {% endif %}
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>

    <div class="myaccount-image">
        <div class="pane-title">You can upload your own clicker photo here</div>

        <div class="image-form">
            <form method="post" enctype="multipart/form-data" action="{% url 'clicker_app:upload' %}">
                {% csrf_token %}
                <input type="hidden" name="user-id" value ="{{ user.id }}">
                <input type="file" name ="image" value="image" accept="image/*">
                <input type="submit" name="submit" value="upload">
            </form>
        </div>

        <div class="image-preview">
            <img id="icon" alt="Clicker Image" src="{{ MEDIA_URL }}{{ user.account.image }}" />
        </div>
    </div>

</div>
{% endblock %}
