<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load static %}

{% block title_block %}
    SignUp
{% endblock %}

{% block body_block %}

<div class="signup-container">
    <div class="signup-card-background">
        <div class="signup-card">
            {% if not registered %}
            <form method="post" action="{% url 'clicker_app:signup' %}">
                {% csrf_token %}
                {{ user_form }}
                <div class="signup-buttons">
                    <button type="submit" class="signup-button">Sign Up</button>
                </div>
            </form>
            {% else %}
            <div> Thank you for signing up! </div>
            <div class="signup-buttons">
                <button class="login-button" onclick="location.href='{% url 'clicker_app:login' %}'" type="button">Log In</button>
            </div>
            {% endif %} 
        </div>
    </div>
</div>

{% endblock %}
