<!DOCTYPE html>
{% extends 'clicker_app/base.html' %}
{% load static %}

{% block title_block %}
    Tutorial
{% endblock %}

{% block body_block %}
    <h3 class="margin15">Game tutorial</h3>
    <div class="plain">
        <strong>It is a clicker game. You get pixels when you click!</strong><div class="margin15"></div>

        <div>When you click the 'clicker' (the picture in the middle of Homepage) you will get a point - a pixel.</div>
        <div>You can buy improvements listed in store, it will make your clicks more powerful and speed up your pixel collection. </div>
        <div>There is a leader board showing you the scores of the best players but you need to sign up to make it to the leader board! </div>
        <div>Once you are signed up you can unlock achievements that will show up on your MyAccount page!</div>
        <div>Logged in users can also upload their own picture to be used as a clicker! You can do that on your MyAccount page. </div>
        <div class="margin15"></div>
        <strong>Have fun!</strong>
    </div>

{% endblock %}
 